<div class="item">

    <input [id]="item.description" type="checkbox" [(ngModel)]="item.done" name="done" />
    <label [for]="item.description">{{item.description}}</label>

    <div class="btn-wrapper" *ngIf="!editable">
        <button class="btn" (click)="editable = !editable">Edit</button>
        <button class="btn btn-warn" (click)="remove.emit()">Delete</button>
    </div>

    <div *ngIf="editable" class="edit">
        <input class="sm-text-input" placeholder="Edit task" [value]="item.description" #editedItem
            (keyup.enter)="saveItem(editedItem.value)">

        <div class="btn-wrapper edit-form">
            <button class="btn" (click)="editable = !editable">Cancel</button>
            <button class="btn btn-save" (click)="saveItem(editedItem.value)">Save</button>
        </div>
    </div>

</div>